@import "compass_twitter_bootstrap";

g > g:first-child > circle { 
	fill-opacity: 0;
};

.party circle {
  fill-opacity: .5;
  stroke-width: 1px;
}

.person circle {
  fill-opacity: 0.7;
}

text {
  font: 10px sans-serif;
}

#chart {
  text-align:center;
}

#infobox {
	position: absolute;
	left: 25px;
	top: 25px;
}