@import "compass_twitter_bootstrap";

g > g:first-child > circle { 
	fill-opacity: 0;
};

.party circle {
  fill-opacity: .5;
  stroke-width: 1px;
}

.person circle {
  fill-opacity: 0.7;
}

text {
  font: 10px sans-serif;
}

#chart {
  float: right;
  text-align: center;
  height: 500px;
  width: 500px;
}

#infobox {
    width: 380px;
    max-width: 380px;
    padding: 0 10px;
    min-height: 220px;
    overflow-x: hidden;
    margin: 150px auto;
    background-color: #f0f0f0;
    float: left;
    @include border-radius(15px);
    table.table {
        margin: 10px auto;
    }
    h3 {
      margin-top: 0px;
    }

    #infoboxPlaceholder {
      margin: 20px 0 0 0;
    }
}

#search {
  margin: 10px auto 0;
}

#filters { 
  margin-top: 20px;
  clear: both;
}

.container {
    margin-top: 20px;
}
